@font-face {
  font-family: "RF Dewi Expanded";
  src: url("/fonts/RFDewiExpanded-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: url("/fonts/RFDewiExpanded-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: url("/fonts/RFDewiExpanded-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: url("/fonts/RFDewiExpanded-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: url("/fonts/RFDewiExpanded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: url("/fonts/RFDewiExpanded-Ultrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: url("/fonts/RFDewiExpanded-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
